<div class="container">
    <div class="row  d-flex align-items-center justify-content-center mt-5">
        <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="card shadow">
                <div class="card-title text-center">
                    <h2 class="title">
                        <span class="text-info">Social</span>Network
                    </h2>
                </div>
                <div class="card-body">
                    <form #form="ngForm" action="" method="post" (ngSubmit)="login()">
                        <div class="input-wrapper align-items-center">
                            <div class="mg-4">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email" 
                                ngModel
                                required
                                pattern="^[a-zA-Z0-9\._]+@[a-z]+\.[a-z]+$"
                                #email="ngModel">
                            </div>

                            <ng-container *ngIf="email.invalid && email.touched">
                                <p class="form-error" *ngIf="email.errors?.['pattern']">
                                    Please enter a valid email.
                                </p>
                            </ng-container>
        
                            <div class="mg-4">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" 
                                ngModel
                                required>
                            </div>

                            <p class="form-error" *ngIf="fireBaseErrorMessage != ''">
                                {{fireBaseErrorMessage}}
                            </p>
                            
                            <div class="d-grid mg-4">
                                <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Log In</button>
                            </div>

                            <hr>

                            <div class="mg-4 text-center pt-3 pb-3">
                                Don't have an account? <span id="sign-up" class="text-info" routerLink="/register">Sign up</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>