<div class="container">
    <div class="row  d-flex align-items-center justify-content-center mt-5">
        <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="card shadow">
                <div class="card-title text-center">
                    <h2 class="title">
                        <span class="text-info">Social</span>Network
                    </h2>

                    <h4 class="title text-secondary">Sign up to see photos and videos of your friends</h4>
                </div>
                <div class="card-body">
                    
                    <div class="input-wrapper align-items-center">
                        
                    
                        <div class="mg-4">
                            <!-- <label for="email" class="form-label">Email</label> -->
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        </div>

                        <div class="mg-4">
                            <!-- <label for="email" class="form-label">Email</label> -->
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                        </div>
    
                        <div class="mg-4">
                            <!-- <label for="password" class="form-label">Password</label> -->
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>

                        <div class="mg-4">
                            <!-- <label for="password" class="form-label">Password</label> -->
                            <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
                        </div>
                        
                        <div class="d-grid mg-4">
                            <button disabled type="button" class="btn btn-primary">Next</button>
                        </div>

                        <hr>

                        <div class="mg-4 text-center pt-3 pb-3">
                            Already have an account? <span id="sign-up" class="text-info" routerLink="/login">Log in</span>
                        </div>

                    </div>





                </div>
            </div>
        </div>
    </div>
</div>