<div class="container">
    <div class="row  d-flex align-items-center justify-content-center mt-5">
        <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="card shadow">
                <div class="card-title text-center">
                    <h2 class="title">
                        <span class="text-info">Social</span>Network
                    </h2>

                    <h4 class="title text-secondary">Sign up to see photos and videos of your friends</h4>
                </div>
                <div class="card-body">
                    <form #form="ngForm" action="" method="post" (ngSubmit)="register()">            
                        <div class="input-wrapper align-items-center">                   
                            <div class="mg-4">
                                <input #emailInput="ngModel" type="text" class="form-control" id="email" name="email" placeholder="Email" 
                                ngModel
                                [ngClass]="emailInput.invalid && emailInput.touched ? 'error' : ''"
                                required
                                pattern="^[a-zA-Z0-9\._]+@[a-z]+\.[a-z]+$">
                                <i [ngClass]="emailInput.invalid && emailInput.touched ? '' : 'hidden'" class="bi bi-x-circle error-icon"></i>
                                <i [ngClass]="emailInput.valid && emailInput.touched ? '' : 'hidden'" class="bi bi-check-circle success-icon"></i>
                            </div>
                            
                            <ng-container *ngIf="emailInput.invalid && emailInput.touched">
                                <p class="form-error" *ngIf="emailInput.errors?.['pattern']">
                                    Please enter a valid email.
                                </p>
                                <p class="form-error" *ngIf="emailInput.errors?.['required']">
                                    Email is required.
                                </p>
                            </ng-container>


                            <div class="mg-4">
                                <input #username="ngModel" type="text" class="form-control" id="username" name="username" placeholder="Username"
                                 ngModel
                                 [ngClass]="username.invalid && username.touched ? 'error' : ''"
                                 required
                                 minlength="4"
                                 pattern="^[a-zA-Z0-9\._]+">
                                 <i [ngClass]="username.invalid && username.touched ? '' : 'hidden'" class="bi bi-x-circle error-icon"></i>
                                 <i [ngClass]="username.valid && username.touched ? '' : 'hidden'" class="bi bi-check-circle success-icon"></i>
                            </div>

                            <ng-container *ngIf="username.invalid && username.touched">
                                <p class="form-error" *ngIf="username.errors?.['pattern']">
                                    Username symbols allowed are '0-9', 'A-Z', 'a-z', '.', '_'.
                                </p>
                                <p class="form-error" *ngIf="username.errors?.['required']">
                                    Username is required.
                                </p>
                                <p class="form-error" *ngIf="username.errors?.['minlength']">
                                    Username should be at least 4 characters.
                                </p>
                            </ng-container>
                            
                            <!-- TO DO 
                            CREATE CUSTOM DIRECTIVE
                        PASS BOTH PASSWRODS THROUGH BINDING PROPERTY SAME AS PASSING DATA FROM PARENT COMPONENT TO CHILD COMPONENT
                            IF PASSWORDS NOT THE SAME SET ERROR: TRUE
                            OTHERWISE NULL -->
                            
                                <div class="mg-4">
                                    <input #password="ngModel" type="password" class="form-control" id="password" name="password" placeholder="Password"
                                     ngModel
                                     required
                                     minlength="6"
                                     [ngClass]="password.invalid && password.touched ? 'error' : ''"
                                     >
                                     <i [ngClass]="password.invalid && password.touched ? '' : 'hidden'" class="bi bi-x-circle error-icon"></i>
                                     <i [ngClass]="password.valid && password.touched ? '' : 'hidden'" class="bi bi-check-circle success-icon"></i>
                                </div>

                                <ng-container *ngIf="password.invalid && password.touched">
                                    <p class="form-error" *ngIf="password.errors?.['required']">
                                        Password is required.
                                    </p>
                                    <p class="form-error" *ngIf="password.errors?.['minlength']">
                                        Password should be at least 6 characters.
                                    </p>
                                </ng-container>

                                <div class="mg-4">
                                    <input #repeatPassword="ngModel" type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password" 
                                    ngModel
                                    required
                                    minlength="5"
                                    [ngClass]="repeatPassword.invalid && repeatPassword.touched ? 'error' : ''"
                                    appSameValue [pass]="password.value">
                                    <i [ngClass]="repeatPassword.invalid && repeatPassword.touched ? '' : 'hidden'" class="bi bi-x-circle error-icon"></i>
                                    <i [ngClass]="repeatPassword.valid && repeatPassword.touched ? '' : 'hidden'" class="bi bi-check-circle success-icon"></i>
                                </div>

                                <ng-container *ngIf="repeatPassword.invalid && repeatPassword.touched">
                                    <p class="form-error" *ngIf="repeatPassword.errors?.['required']">
                                        Repeat password is required.
                                    </p>
                                    <p class="form-error" *ngIf="repeatPassword.errors?.['minlength']">
                                        Repeat password should be at least 5 characters.
                                    </p>

                                    <p class="form-error" *ngIf="repeatPassword.errors?.['notMatching'] && password.touched">
                                        Passwords must match.
                                    </p>
                                </ng-container>

                                <p class="form-error" *ngIf="fireBaseErrorMessage != ''">
                                    {{fireBaseErrorMessage}}
                                </p>

                            
                                <div class="d-grid mg-4">
                                    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Join</button>
                                </div>

                           
                            <hr>

                            <div class="mg-4 text-center pt-3 pb-3">
                                Already have an account? <span id="sign-up" class="text-info" routerLink="/login">Log in</span>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>