.container {
    margin-top: 8%;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.input-wrapper {
    width: 80%;
    margin: 0 auto;
}

input {
    margin-bottom: 8px ;
    font-size: smaller;
}

button {
    margin-top: 8px;
    margin-bottom: 8px;
}


#sign-up:hover {
    cursor: pointer;
}

h4 {
    width: 70%;
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
}