<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center"> <img [src]="userData?.profilePicture == '' ? '../../../assets/default-profile.jpg' : userData?.profilePicture" width="100" height="100" class="rounded-circle"> </div>
                <div class="text-center mt-3"><span *ngIf="userData?.username === currentUserUsername" [routerLink]="['/app/', userData.username, 'edit']" class="span bg-secondary p-1 px-4 rounded text-white">Edit Profile</span>
                    <h5 class="mt-2 mb-0">{{userData?.firstName}} {{userData?.lastName}}</h5> <span>{{userData?.username}}</span>
                    <div class="px-4 mt-1 text-center">
                        <p class="fonts text-left">{{userData?.profileDescription}}</p>
                    </div>
                    <ul class="social-list">
                        <li>{{userData?.posts.length > 1 ? userData.posts.length - 1 : '0'}} posts</li>
                        <li>{{userData?.following.length > 1 ? userData.following.length - 1 : '0'}} following</li>
                        <li>{{userData?.followers.length ? userData.followers.length : '0'}} followers</li>
                    </ul>
                    <div *ngIf="userData?.username !== currentUserUsername" class="buttons"> 
                      <button [disabled]="!userData?.followers.includes(currentUserUsername)" class="btn btn-info-primary px-4">Message</button>
                      <button *ngIf="!userData?.followers.includes(currentUserUsername)" (click)="followUser()" class="btn btn-info px-4 ms-3">Follow</button>
                      <button *ngIf="userData?.followers.includes(currentUserUsername)" disabled class="btn btn-info px-4 ms-3">Following</button>
                     </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="text-center mt-3">
        <h4 class="text-secondary"> Posts </h4>
    </div>

    <div *ngIf="userData?.posts.length > 1" class="row text-center text-lg-start">

        <div *ngFor="let post of userPostsContent, index as i" class="col-lg-3 col-md-4 col-6">
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="d-block mb-4 h-100 clickable">
            <img class="thumbnail img-thumbnail" (click)="changeModalPost(post)" width="400"  [src]="post.imageUrl" alt="">
          </a>

        </div>
    </div>

    <div class="no-posts mt-4" *ngIf="userData?.posts.length == 1">
      <i class="fa-solid fa-ghost ghost"></i>
      <p class=" text-secondary">It seems you haven't added any posts yet ..</p>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered align-items-center justify-content-center">
       <!-- <div class="modal-content">
         <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> 
        <div class="modal-body">
            <div>
                <img [src]="modalPost?.imageUrl" alt="">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>  -->
      <div class="">
          <img [src]="modalPost?.imageUrl" alt="">
      </div>
     
    </div>
  </div>