<div class="component-container" [ngClass]="posts.length == 0 ? 'justify-content-end' : ''">
    <div *ngIf="posts.length > 0">
        <div class="container margin mb-1" *ngFor="let post of posts">
            <ng-container *ngIf="post">
                <div #renderedPost [id]="post?.hasUserLiked" class="row align-items-center justify-content-start">
                    <div class="col-md-6" style="width: 76%;">
                        <div class="card border">
                            <div class="d-flex justify-content-between p-2 px-3">
                                <div class="d-flex flex-row align-items-center"> <img [routerLink]="['/app/', post?.creator]" [src]="post?.creatorProfilePicture" width="50" height="50" class="profile-image clickable">
                                    <div class="d-flex flex-column ml-2"> <span [routerLink]="['/app/', post?.creator]" class="font-weight-bold creator clickable">{{post?.creator}}</span> </div>
                                </div>
                                <div class="d-flex flex-row mt-1 ellipsis"></div>
                            </div> <img [src]="post?.imageUrl" class="img-fluid">
                            <div class="p-2">
                                <p class="text-justify description">{{post?.description}}</p>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-row icons d-flex align-items-center"><i #heart [ngClass]="renderedPost.id == 'true' ? 'liked' : 'not-liked'" (click)="likePost(post?._id, heart, likes, renderedPost)" class="fa-solid fa-heart"></i></div>
                                    <div class="flex-row d-flex" style="gap: 5px;">
                                        <div #likes class="d-flex flex-row muted-color">{{post?.likes.length}} likes</div>
                                        <div (click)="showComments(comments)" class="d-flex flex-row muted-color ml-1 clickable">{{post?.comments.length}} comments</div>
                                    </div>

                                </div>
                                <hr>
                                <div [id]="'hidden'" #comments class="comments hidden">
                                    <div class="scroller">
                                        <div *ngFor="let comment of post?.comments" class="d-flex flex-row mb-2"> <img [src]="comment.profilePic" width="40" height="38" class="rounded-image">
                                            <div class="d-flex flex-column ml-2"> <span class="name">{{comment.owner}}</span> <small class="comment-text">{{comment.content}}</small>
                                                <div class="d-flex flex-row align-items-center status"> <small>{{comment.likes.length}} likes</small>  <small class="clickable">Like</small> <small class="text-secondary">{{displayCommentTime(comment)}} ago</small> </div>
                                            </div>
                                        </div>
                                        <!-- <div class="d-flex flex-row mb-2 ml-1"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                                            <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">Thanks for sharing!</small>
                                                <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div #commentInput [id]="post?._id" class="comment-input mt-2"> <input type="text" [(ngModel)]="comment" (keydown)="submitCommentHandler($event, commentInput)" class="form-control">
                                        <div class="fonts"> <i class="fa-solid fa-paper-plane"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </ng-container>
        </div>
    
    </div>

    <div class="spin-container"><div class="spin col-md-6" *ngIf="this.loadingPosts"></div></div>

    <div class="no-posts col-md-6 text-center" *ngIf="posts.length == 0 && !this.loadingPosts">
        <i class="fa-solid fa-ghost ghost"></i>
        <p class=" text-secondary">Nothing to show</p>
        <p class=" text-secondary">Use the search bar to find people you know</p>
    </div>
    <div class="sticky">
        <app-sidebar></app-sidebar>
    </div>

</div>



