@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    width: 69%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.form-control:focus {
    box-shadow: none;
    border-color: #06a4c4
}

.profile-button {
    background: #0dcaf0;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #0dcaf0
}

.profile-button:focus {
    background: #0dcaf0;
    box-shadow: none
}

.profile-button:active {
    background: #0dcaf0;
    box-shadow: none
}

.back:hover {
    color: #0dcaf0;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.profile-pic {
    cursor: pointer;
}

.upload-notification {
    font-size: 13px;
    color: green;
}