<div class="container mt-5 position-sticky align-items-end">
    <div class="card p-3">
        <h5><span class="text-info">Popular</span> Profiles</h5>
        <ng-container *ngFor="let user of users">
            <div  class="d-flex justify-content-between mt-2 align-items-center">
                <div class="d-flex flex-row"> <img [src]="user.profilePicture" class="rounded-circle" height="35" width="40">
                    <div class="d-flex flex-column ml-1 about"> <span class="font-weight-bold">{{user.username}}</span> <small>{{user.postsCount}} posts</small> </div>
                </div> <button [routerLink]="['/app/', user.username]" class="btn btn-outline-info btn-sm follow">Check out</button>
            </div>
            <hr>
    </ng-container>
    </div>
</div>