.auth { 
    margin-right: 10px;
}

.mag {
    position: absolute;
    margin-left: 10px;
}

form {
    margin-right: 15.7rem;
    font-size: 9px;
}


input {
    font-size: 13px;
    margin-top: 4px;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 30px;
}

.icon {
    padding: 3px;
}