<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container" [ngClass]="user ? 'app-mode': ''">
    <a routerLink="/app" class="navbar-brand"><span class="text-info">Social</span>Network</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="user">
        <form>
          <div class="filter-wrapper">
              <input #search class="form-control me-2" [(ngModel)]="customValue" (focus)="showSearchFilter(select)" (mouseenter)="showSearchFilter(select)" (mouseleave)="hideSearchFilter(select)" type="text" [formControl]="queryField" placeholder="Search" aria-label="Search" >
              <div #select class="filter-select hidden" (mouseenter)="showSearchFilter(select)" (mouseleave)="hideSearchFilter(select)">
                <div class="profile" (click)="clearSearchBar()" *ngFor="let user of results" [routerLink]="['/app/', user.username]"> <img [src]="user.profilePicture" class=" profile-image" width="40" height="40">
                  <div class="ml-3 user">
                      <h5 class="name">{{user.firstName}} {{user.lastName}}</h5>
                      <p class="mail">{{user.username}}</p>
                  </div>
                  <div *ngIf="results.length == 0" class="ml-3 user">
                    <p class="mail">No matches</p>
                </div>
                </div>              
            </div>
          </div>
        </form>


        <li class="nav-item">
          <a class="nav-link" routerLink="/app" [routerLinkActive]="'text-info'" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-house fa-xl"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/app/', 'create-post']" [routerLinkActive]="'text-info'"[routerLinkActiveOptions]="{exact: true}" ><i class="fa-solid fa-circle-plus fa-xl"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/app/','messages', username]" [routerLinkActive]="'text-info'" [routerLinkActiveOptions]="{exact: true}"><i class="fa-solid fa-paper-plane fa-xl"></i></a>
        </li>
        <li>
          <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a class="nav-link" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-brands fa-gratipay fa-xl"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li *ngFor="let usernameLike of likesOnPhotos | async"><p class="dropdown-item">{{username == usernameLike ? 'You' : usernameLike}} liked your photo. <i class="fa-solid fa-heart"></i></p></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="padding: 0;" [routerLink]="['/app/', username]" [routerLinkActive]="'text-info'" [routerLinkActiveOptions]="{exact: true}" ><img class="profile-image" [src]="userProfilePic" width="39px" height="38px"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ><i (click)="logout()" class="logout bi bi-door-open-fill fa-xl"></i></a>
        </li>

      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="!user">
        <li class="nav-item">
          <a class="nav-link auth" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link auth" routerLink="/register">Register</a>
        </li>
      </ul>

    </div>
  </div>
</nav>